footer{
    background-color: rgba(56, 55, 55, 0.637);
   padding: .5cm;
   margin-top: 0;
   border: 5px dotted rgba(0, 0, 0, 0.187);
   border-radius: .5cm;
   .footer{
    color: $principal;
    font-size: .4cm;
    font-family: 'Dosis', sans-serif;
    }
    }
    @media (min-width: 800px) { 
        .footer{
        font-size: .6cm;
        }
}

.transformacion:hover{
    transform: scale(1.5);
    transition-property: all;
    transition-duration: 3s;

}

/* mapa, mixin, extend*/ 

